/* DM Sans */
@font-face {
  font-family: 'DM Sans';
  src: url('./DMSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'DM Sans';
  src: url('./DMSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'DM Sans';
  src: url('./DMSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'DM Sans';
  src: url('./DMSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
}

/* DM Mono */
@font-face {
  font-family: 'DM Mono';
  src: url('./DMMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'DM Mono';
  src: url('./DMMono-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}
